<h1 class="page-header">Detalhes da Tarefa: {{task.titulo}} </h1>

<form [formGroup]="taskForm" ngSumit="updateTask()">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="titulo" class="control-label">Título</label>
            <input formControlName="titulo" type="text" class="form-control" id="titulo" required>
        </div>
        <div class="form-group col-md-3 ">
            <label for="data" class="control-label">Data</label>
            <input formControlName="data" type="text" class="form-control" id="data">
        </div>
        <div class="form-group col-md-3 ">
            <label for="status" class="control-label">Situação</label>
            <select formControlName="situacao" class="form-control" id="status">
                <option *ngFor="let option of taskStatusOptions" [value]="option.value">{{option.text}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label for="descricao" class="control-label">Descrição</label>
            <textarea formControlName="descricao" class="form-control" id="descricao" rows="4"></textarea>
        </div>
    </div>

    <button (click)="goBack()" class="btn btn-default">Voltar</button>
    <button type="submit" class="btn btn-success">Atualizar</button>
</form>

<br>
{{task | json}}