<h1 class="page-header">Detalhes da Tarefa: {{task.titulo}} </h1>

<form [formGroup]="form" (ngSubmit)="updateTask()">
    <div class="row">
        <div class="form-group col-md-6" [ngClass]="formUtils.fieldClassForErrorOrSuccess('titulo')">
            <label for="titulo" class="control-label">Título</label>
            <input formControlName="titulo" type="text" class="form-control" id="titulo">

            <div *ngIf="formUtils.showFieldError(form.get('titulo'))" class="text-danger">
                <div *ngIf="form.get('titulo').errors.required">Campo obrigatório</div>
            </div>
        </div>
        <div class="form-group col-md-3" [ngClass]="formUtils.fieldClassForErrorOrSuccess('data')">
            <label for="data" class="control-label">Data</label>
            <input formControlName="data" type="text" class="form-control" id="data">

            <div *ngIf="formUtils.showFieldError(form.get('data'))" class="text-danger">
                <div *ngIf="form.get('data').errors.required">Campo obrigatório</div>
            </div>
        </div>
        <div class="form-group col-md-3" [ngClass]="formUtils.fieldClassForErrorOrSuccess('status')">
            <label for="status" class="control-label">Status</label>
            <select formControlName="status" class="form-control" id="status">
                <option *ngFor="let option of taskStatusOptions" [value]="option.value">{{option.text}}</option>
            </select>

            <div *ngIf="formUtils.showFieldError(form.get('status'))" class="text-danger">
                <div *ngIf="form.get('status').errors.required">Campo obrigatório</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label for="descricao" class="control-label">Descrição</label>
            <textarea formControlName="descricao" class="form-control" id="descricao" rows="4"></textarea>
        </div>
    </div>

    <button type="button" (click)="goBack()" class="btn btn-default">Voltar</button>
    <button type="submit" class="btn btn-success" [disabled]="form.invalid">Atualizar</button>
</form>

<br>
<pre>{{form.value | json}}</pre>