<h1 class="page-header">Lista de Tarefas</h1>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-10">
            <input type="text" class="form-control" [(ngModel)]="newTask.titulo" placeholder="Adicione uma nova tarefa">
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" (click)="createTask()">Adicionar</button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.titulo}}</td>
            <td>
                <button class="btn btn-info" [routerLink]="['/tasks', task.id]">
                    Detalhes
                </button>&nbsp;
                <button class="btn btn-danger" (click)="deleteTask(task)">
                    Excluir
                </button>
            </td>
        </tr>
    </tbody>
</table>