<h1 class="page-header">Lista de Tarefas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.titulo}}</td>
            <td>
                <button class="btn btn-info" [routerLink]="['/tasks', task.id]">
                    Detalhes
                </button>&nbsp;
                <button class="btn btn-danger">
                    Excluir
                </button>
            </td>
        </tr>
    </tbody>
</table>