<h1>Faça o seu cadastro</h1>
<div class="jumbotron">
    <form class="text-right" [formGroup]="form" (ngSubmit)="signUpUser()">
        <div class="form-group row" [ngClass]="formUtils.fieldClassForErrorOrSuccess('nome')">
            <label for="nome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
                <input type="text" formControlName="nome" class="form-control" id="nome"
                    placeholder="Digite seu nome completo">

                <div *ngIf="formUtils.showFieldError(form.get('nome'))" class="text-danger">
                    <div *ngIf="form.get('nome').errors.required">Campo obrigatório</div>
                </div>
            </div>
        </div>
        <div class="form-group row" [ngClass]="formUtils.fieldClassForErrorOrSuccess('email')">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" formControlName="email" class="form-control" id="email"
                    placeholder="Ex: nome@email.com">

                <div *ngIf="formUtils.showFieldError(form.get('email'))" class="text-danger">
                    <div *ngIf="form.get('email').errors.required">Campo obrigatório</div>
                </div>
            </div>
        </div>
        <div class="form-group row" [ngClass]="formUtils.fieldClassForErrorOrSuccess('senha')">
            <label for="senha" class="col-sm-2 col-form-label">Senha</label>
            <div class="col-sm-10">
                <input type="password" formControlName="senha" class="form-control" id="senha"
                    placeholder="Mínimo 6 caracteres">

                <div *ngIf="formUtils.showFieldError(form.get('senha'))" class="text-danger">
                    <div *ngIf="form.get('senha').errors.required">Campo obrigatório</div>
                    <div *ngIf="form.get('senha').errors.minLength">Mínimo 6 caracteres</div>
                </div>
            </div>
        </div>
        <div class="form-group row" [ngClass]="formUtils.fieldClassForErrorOrSuccess('confirmacaoSenha')">
            <label for="confirmacaoSenha" class="col-sm-2 col-form-label">Confirme sua senha</label>
            <div class="col-sm-10">
                <input type="password" formControlName="confirmacaoSenha" class="form-control" id="confirmacaoSenha"
                    placeholder="Mínimo 6 caracteres">

                <div *ngIf="formUtils.showFieldError(form.get('confirmacaoSenha'))" class="text-danger">
                    <div *ngIf="form.get('confirmacaoSenha').errors.required">Campo obrigatório</div>
                    <div *ngIf="form.get('confirmacaoSenha').errors.mismatch">Campo não confere com a senha</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </form>
</div>